
.calendarBg {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 5px;
}

/* Main container */
.calendarContainer {
  width: 90%;
  max-width: 900px;
}

/* Calendar card */
.calendarCard {
  color: white;
  padding: 20px;
  border-radius: 20px;

  background: rgba(10, 25, 50, 0.75);
  backdrop-filter: blur(10px);

  box-shadow: 0 0 25px rgba(0, 150, 255, 0.25);
}

/* Header */
.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
}

/* Grid */
.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

/* Each day */
.calendarCell {
  height: 60px;
  border-radius: 12px;
  cursor: pointer;
  position: relative;

  background: rgba(255, 255, 255, 0.1);
  transition: 0.2s;
}

.calendarCell:hover {
  background: rgba(255, 255, 255, 0.2);
}

.selectedDay {
  outline: 2px solid #38bdf8;
}

/* Day number */
.dayNumber {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 13px;
  color: white;
}

/* Dot if event exists */
.dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.blue { background: #3b82f6; }
.red { background: #ef4444; }
.purple { background: #8b5cf6; }
.pink { background: #ec4899; }

/* ===== LOG SECTION ===== */
.dayPlans {
  margin-top: 20px;
}

/* Each log entry */
.planLog {
  margin-top: 10px;
  padding: 12px;

  border-radius: 12px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);

  color: white;
  font-size: 14px;

  box-shadow: 0 0 10px rgba(0, 200, 255, 0.2);
}

.today {
  outline: 2px solid gold;
  background: rgba(255, 215, 0, 0.2);
}
